.homepage-container{

position: relative;
top: 80px;
	
}

.profile-titlebar{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	height: 100px;
	margin-top: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #E1E3E3;
	border:1px solid #5B9BD5;
}
/* This is a single-line comment */
.profileimg-pos{

	float: left;
	margin-top: -20px;
	margin-left: 4%;
	-webkit-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
	border:1px solid #000000;
}

.profile-name{
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: 600;
	font-size:30px;
	margin-top: -65px;
	left: 15px;
	padding-left: 5px;
	position: relative;
}

.school-name{
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: 200;
	font-size:15px;
	position: relative;
	top: -15px;
	left: 25px;
	padding-left: 5px;

}

.stick {
    position:fixed;
    top:80px;
    margin-left: 2%;
    float: left;
	clear: both;
}

#w2b-StoTop {
    background-color: #A5A5A5;
    bottom: 10px;
    -webkit-border-radius:  8px 0 0 8px;
	border-radius: 8px 0 0 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
	font-family: century;
	letter-spacing:1px;
	font-size:14px;
    padding: 10px;
    position: fixed;
    right: 0px;
    text-align: Left;
    text-decoration: none;
    width: 70px;
}

.status{
	min-width: 100px;
	width: auto;
	min-height: 30px;
	height: auto;
	background-color: #E1E3E3;
	float: left;
	margin-left: 15px;
	margin-top: -10px;
	padding: 10px;
	border:1px solid #5B9BD5;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

.status-head{
	min-width: 100px;
	width: auto;
	min-height: 30px;
	height: auto;
	background-color:#5B9BD5;
	margin-left: -11px;
	margin-right: 5px;
	padding: 8.5px;
	border:2px solid #5B9BD5;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: 700;
	font-size:14px;
	cursor: pointer; cursor: hand;
}

#status-viewonly{
	display: inline-block;
	cursor: pointer; cursor: hand;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: 250;
	font-size:12px;
}

#status-edit{
	display: none;
}

.status-textarea{
	width: auto;
	height:30px;
	resize:none;

}

.profile-info-about{
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #E1E3E3;
	border:1px solid #5B9BD5;
	float: left;
	height: auto;
	width: 200px;
	margin-left: 2.5%;
	margin-top: 20px;
	clear: both;
	padding: 5px;
	padding-top: 40px;	
}

.profile-info-about-head{
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	background-color: #E1E3E3;
	border:1px solid #5B9BD5;
	float: left;
	height: 40px;
	width: 200px;
	clear: both;
	padding: 5px;	
	margin-left: -6px;
	margin-top: -45px;
	position: absolute;
	padding-left: 10px;
	padding-top: 8px;
	cursor: pointer; cursor: hand;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: 400;
	font-size:18px;
}

.edit-info{
	float:right;
	font-size:12px;
	padding-top:5px;
	padding-right:4px;
}

@media screen {
	/* Extra Small Device Mobile */

	@media (max-width: 767px) and (min-width: 100px) {
		.status-textarea{
		width: 100px;
		}
	}

	/* Small Device Tablet */
	@media (max-width: 991px) and (min-width: 768px){
		.status-textarea{
		width: 100px;
		}
	}

	/* Medium Device Desktop and Laptops */
	@media (max-width: 1199px) and (min-width: 992px){
		.status-textarea{
		width: 100px;
		}
	}

	/* Large Device Desktop */
	@media (max-width: 1500px) and (min-width: 1200px){
		.status-textarea{
		width: 1000px;
		}
	}
}